@model Notes_MarketPlace.Models.SignUpModel

@{ Layout = null;}

<!DOCTYPE html>

<html lang="en">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Sign Up - NoteMarketPlace</title>


    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/Font-Awesome/css/font-awesome.css">
    <link rel="stylesheet" href="~/Content/Bootstrap/r.css">
    <link rel="stylesheet" href="~/Content/style1.css">
    <link rel="stylesheet" href="~/Content/Responsive-front.css">


</head>

<body>
    <section id="login-page">

        <div class="login-bg img-responsive">
        </div>
        <div class="container">
            <div class="content-box sign-content">
                <div class="f-img text-center">

                    <img src="~/Content/Front_Images/images/top-logo.png" class="img-responsive">

                </div>
                @using (Html.BeginForm("SignUp", "SignUp", FormMethod.Post))
                {
                    <div id="form" class="form-sup">
                        <div class="login-text text-center">
                            <h3>Create an Account</h3>
                            <p>Enter your details to signup</p>
                            <small id="signup-successfully" class="form-text text-muted text-center text-success"><span>@ViewBag.Success</span></small>
                        </div>
                        <form>
                            <div class="form-group s1">
                                <label for="exampleInputEmail1">First Name<span>&#42;</span></label>
                                <div class="n">
                                    @Html.TextBoxFor(model => model.FirstName, htmlAttributes: new { @class = "form-control", @placeholder = "Enter your First name" })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group s1">
                                <label for="exampleInputPassword1">Last Name<span>&#42;</span></label>
                                @Html.TextBoxFor(model => model.LastName, htmlAttributes: new { @class = "form-control", @placeholder = "Enter your last name" })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group s1">

                                <label for="exampleInputEmail1">Email</label>
                                @Html.TextBoxFor(model => model.EmailID, htmlAttributes: new { @class = "form-control", @placeholder = "Enter your email address" })
                                @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-group s1">
                                <label for="exampleInputEmail1">Password</label>
                                <div class="input-group show_hide_password1">
                                    @Html.PasswordFor(model => model.Password, htmlAttributes: new { @class = "form-control", @placeholder = "Enter your password" })
                                    <div class="input-group-addon s2">
                                        <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group s1">
                                <label for="exampleInputEmail1">Confirm Password</label>
                                <div class="input-group show_hide_password2">
                                    @Html.PasswordFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "form-control", @placeholder = "Re-enter your Password" })
                                    <div class="input-group-addon s2">
                                        <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                

                            </div>
                            <div class="text-center btn-sup1">
                                <button type="submit" class="btn btn-primary btn-sup" value="SignUp"><span>SIGN UP</span></button>
                                <p>Already have an account? <a href="~/Login" role="button"><span>Login</span></a></p>
                            </div>



                        </form>
                    </div>
                }


            </div>

        </div>
    </section>








    <script src="~/Script/jquery.js"></script>

    <script src="~/Script/bootstrap_js/r.js">

    </script>
    <script src="~/Script/jquery.validate.min.js"></script>
    <script src="~/Script/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Script/script.js"></script>
</body>

</html>